{{extend "layout.html"}}
Select the targets you wish to delete:<br/><br/>
<form method="post">
    {{for t in targets:}}
    <span style="white-space:nowrap">
        <input name="{{=t.id}}" id="{{=t.id}}" type="checkbox" />
        <label for="{{=t.id}}">{{=t.star_name}}, {{=t.zfilter}} filter, {{=t.obs_mode}} mode, {{=t.obs_cadence}} cadence</label>
    </span>
    <br/>
    {{pass}}
    <br/><br/>
    <input type="submit">
    <br/><br/>
</form>