{{extend 'layout.html'}}
<h2>Submit feedback</h2>

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{else:}}

{{=form}}


{{pass}}
