{{extend "layout.html"}}

{{if response.flash:}}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{=response.flash}}
</div>
{{pass}}

<h2>Request password</h2>

You will receive an e-mail from <b>{{=FG_MAILJET_FROM}}</b>. 
If it does not show up in your inbox, please check your spam folder.
<br/><br/><br/>
{{=form}}
<br/><br/><br/>