{{extend 'layout.html'}}
{{import datetime, re, requests}}
{{from gluon.tools import prettydate}}
{{from jdutil import datetime_to_jd}}

<style>
@page { size: landscape; }
@media print {
  a[href]:after {
    content: none !important;
  }
  h1 {
    display: none
  }
  .fa-caret-up, .fa-caret-down {
    display: none
  }
  .fa-pencil {
    display: none
  }
  .editlink {
    display: none !important;
  }
  .morelink, .header, .moreellipses {
    display: none !important;
  }
  .morecontent {
    display: inline !important;
  }
  .spacing {
      display:none;
  }
  .comment-hide-printout {
      display:none !important;
  }
  footer {
      display: none;
  }
}
utc {
    display: none;
  }
.hide {
    display:none;
}
div.stickyHeader {
    top:0;
    position:fixed;
    _position:absolute;
}
.more p {
    margin:0px;
}
</style>

<div class="header" id="header" style="position: relative; overflow: hidden;">
    
    {{announcement = db(db.announcement.is_active==True).select().last()}}
    {{if announcement:}}
    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> {{=announcement.zmessage}}</div>
    {{pass}}
    
    <dl class="dl-horizontal" style="background: #fff0d7;padding-top: 15px;border-radius: 10px;padding-left:10px">
    <dt>
        <b>Observing section:</b>
    </dt>
    <dd>
        <form class="form-inline" id="form">
            
<div class="checkbox">
    <label>
      <input type="checkbox" id="ac" name="ac" {{if session.ac or default_types:}}checked="checked"{{pass}}> Alerts/Campaigns&nbsp;&nbsp;<a href="https://www.aavso.org/observing-campaigns" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="exo" {{if session.exo:}}checked="checked"{{pass}}> Exoplanets (EP)&nbsp;&nbsp;<a href="https://www.aavso.org/exoplanet-section" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="cv" {{if session.cv:}}checked="checked"{{pass}}> Cataclysmic Variables (CV) &nbsp;&nbsp;<a href="https://www.aavso.org/accreting-stellar-remnants" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="ev" {{if session.ev:}}checked="checked"{{pass}}> Eclipsing Variables (EB)&nbsp;&nbsp;<a href="https://www.aavso.org/aavso-short-period-pulsator-section" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="spv" {{if session.spv:}}checked="checked"{{pass}}> Short Period Pulsators (SPP)&nbsp;&nbsp;<a href="https://www.aavso.org/aavso-short-period-pulsator-section" target="_blank"><i class="fa fa-external-link"></i></a><span class="hidden-xs">&emsp;</span>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="lpv" {{if session.lpv:}}checked="checked"{{pass}}> Long Period Variables (LPV)&nbsp;&nbsp;<a href="https://www.aavso.org/aavso-long-period-variable-section" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="yso" {{if session.yso:}}checked="checked"{{pass}}> Young Stellar Objects (YSO)&nbsp;&nbsp;<a href="http://www.starman.co.uk/ysosection/" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="het" {{if session.het:}}checked="checked"{{pass}}> High Energy Targets (HET)&nbsp;&nbsp;<a href="https://www.aavso.org/aavso-international-high-energy-network" target="_blank"><i class="fa fa-external-link"></i></a>&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="misc" {{if session.misc:}}checked="checked"{{pass}}> Miscellaneous&emsp;
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="all" {{if everything:}}checked="checked"{{pass}} onchange="refresh_types()"> All&emsp;
    </label>
  </div>
  <span class="hidden-xs"></span>
  <input type="hidden" name="settype" value="true">
  <button type="submit" class="btn btn-default" style="padding:0px 5px"><i class="fa fa-filter"></i>&nbsp;Filter observing sections</button>
  <br/><br/>
</dd>
<dt>
  <b>Observability:</b>
 </dt>
 <dd>
  {{if auth.user_id and not (auth.user.latitude == 0 and auth.user.longitude == 0):}}
  
  {{if sundata[0] == SUN_IS_UP:}}
  Nighttime at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b> will start at <b><utc>{{=sundata[1]}} UTC</utc></b> and continue until <b><utc>{{=sundata[2]}} UTC</utc></b>.
  {{pass}}
  {{if sundata[0] == SUN_IS_DOWN:}}
  Nighttime at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b> started at <b><utc>{{=sundata[1]}} UTC</utc></b> and will continue until <b><utc>{{=sundata[2]}} UTC</utc></b>.
  {{pass}}
  {{if sundata[0] == SUN_IS_ALWAYS_DOWN:}}
  Nighttime at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b> will continue through the whole day.
  {{pass}}
  {{if sundata[0] == SUN_IS_ALWAYS_UP:}}
  There is no nighttime today at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b>.
  {{pass}}
  {{if sundata[0] == SUN_ENTERS_ALWAYS_DOWN:}}
  Nighttime at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b> will start at <b><utc>{{=sundata[1]}} UTC</utc></b> and continue for the whole day.
  {{pass}}
  {{if sundata[0] == SUN_EXITS_ALWAYS_DOWN:}}
  Nighttime at the telescope location <b>{{=auth.user.latitude}}, {{=auth.user.longitude}}</b> will continue until <utc>{{=sundata[2]}} UTC</utc></b>.
  {{pass}}<br/>
  {{if session.select == "observable":}}
        Only targets that are visible tonight are shown. <a href="/{{=request.application}}?select=all" class="btn btn-default" style="padding:0px 5px"><i class="fa fa-remove"></i>&nbsp;Remove this filter</a>
        {{else:}}
        <a href="/{{=request.application}}?select=observable" class="btn btn-default" style="padding:0px 5px"><i class="fa fa-eye"></i>&nbsp;Show only targets that are visible tonight</a>
        {{pass}}
        <a href="/{{=request.application}}/default/user/profile?location=true" class="btn btn-default" style="padding:0px 5px"><i class="fa fa-gear"></i>&nbsp;Edit location</a>
  
  {{elif auth.user_id:}}
  To show only targets that are visible tonight at your telescope location, <a href="/{{=request.application}}/default/user/profile?location=true">enter the coordinates of your telescope here.</a>
  {{else:}}
  To show only targets that are visible tonight at your telescope location, <a href="/{{=request.application}}/default/user/register">sign up</a> or <a href="/{{=request.application}}/default/user/login">login</a>.
  {{pass}}
  <br/><br/>
</form>
</dd></dl>

{{block right_header}}
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-print"></i>&nbsp;Print</a>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="printDialog(true)">Print with comments</a></li>
            <li><a href="#" onclick="printDialog(false)">Print without comments</a></li>
          </ul>
        </li>
        <li><a href="{{=URL('index.csv',vars=request.vars)}}"><i class="fa fa-save"></i>&nbsp;Export CSV</a></li>
{{end}}
          


</div>
<table class="stickyHeader table">
    <thead style="background:white">
        <tr>
            <th>Star Name<br/>
                {{if caretdown != "star_name":}}
                <a href="/{{=request.application}}?orderby=star_name">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=star_name&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>RA<br/>(J2000.0)<br/>
                {{if caretdown != "zra":}}
                <a href="/{{=request.application}}?orderby=zra">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=zra&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>Dec<br/>(J2000.0)<br/>
                {{if caretdown != "zdec":}}
                <a href="/{{=request.application}}?orderby=zdec">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=zdec&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th style="word-wrap:break-word">Const-<br/>ellation<br/>
                {{if caretdown != "constellation":}}
                <a href="/{{=request.application}}?orderby=constellation">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=constellation&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>
                <span class="editlink"><a href="https://www.aavso.org/vsx/index.php?view=about.vartypes" target="_blank"><i class="fa fa-external-link"></i></a></span><br/>
                Var.<br/>Type<br/>
                {{if caretdown != "var_type":}}
                <a href="/{{=request.application}}?orderby=var_type">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=var_type&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
                
            </th>
            <th>Min<br/>Mag<br/>
                {{if caretdown != "min_mag":}}
                <a href="/{{=request.application}}?orderby=min_mag">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=min_mag&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>Max<br/>Mag<br/>
                {{if caretdown != "max_mag":}}
                <a href="/{{=request.application}}?orderby=max_mag">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=max_mag&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>Period (d)<br/>
                {{if caretdown != "period":}}
                <a href="/{{=request.application}}?orderby=period">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=period&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th><i class="fa fa-question-circle spacing" data-toggle="tooltip" data-placement="bottom" title="How often this star should be observed"></i><br/>Observing<br/>Cadence&nbsp;(d)<br/>
                {{if caretdown != "obs_cadence":}}
                <a href="/{{=request.application}}?orderby=obs_cadence">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=obs_cadence&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>Observing<br/>Section<br/>
                {{if caretdown != "obs_section":}}
                <a href="/{{=request.application}}?orderby=obs_section">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=obs_section&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th style="white-space: nowrap;">
                <i class="fa fa-question-circle spacing" data-toggle="tooltip" data-placement="bottom" title="What type of observations are needed"></i><br/>
                    Filter/<br/>Mode
                <br/>
                {{if caretdown!="zfilter":}}
                <a href="/{{=request.application}}?orderby=zfilter">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=zfilter&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>
                <i class="fa fa-question-circle spacing" data-toggle="tooltip" data-placement="bottom" title="When the star was last observed and whether observations are needed"></i><br/>
                Last<br/>Observed<br/>
                {{if caretdown != "flag_color":}}
                <a href="/{{=request.application}}?orderby=flag_color">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=flag_color&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th>High<br/>Priority<br/>
                {{if caretdown != "priority":}}
                <a href="/{{=request.application}}?orderby=priority">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=priority&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
            <th style="min-width:200px" class="comment">Notes<br/>
                {{if caretdown != "other_info":}}
                <a href="/{{=request.application}}?orderby=other_info">
                    <i class="fa fa-caret-up fa-2x"></i>
                </a>
                {{else:}}
                <a href="/{{=request.application}}?orderby=other_info&reverse=true">
                    <i class="fa fa-caret-down fa-2x"></i>
                </a>
                {{pass}}
            </th>
        </tr>
    </thead>
    <tbody>
        {{for target in targets:}}
        <tr>
            <td style="max-width:100px;word-wrap:break-word">
            {{if auth.has_membership("admin"):}}
            <span class="editlink"><a href="/aavso/default/tool/{{=target.id}}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;</span>
            {{pass}}
                <a href="{{=target.vsx_url}}" target="_blank">{{=target.star_name}}</a>
            
            </td>
            <td style="min-width:110px">{{=deg2HMS(ra=target.zra,xml=True)}}</td>
            <td style="min-width:110px">{{=deg2HMS(dec=target.zdec)}}</td>
            <td>{{=target.constellation}}</td>
            <td style="max-width:75px;word-wrap:break-word">{{=target.var_type}}</td>
            <td><p style="white-space: nowrap;">{{if target.min_mag:}}{{=target.min_mag}} {{=target.min_mag_band}}{{else:}}&mdash;{{pass}}</p></td>
            <td><p style="white-space: nowrap;">{{if target.max_mag:}}{{=target.max_mag}} {{=target.max_mag_band}}{{else:}}&mdash;{{pass}}</p></td>
            
            
            <td>{{if target.period:}}{{=target.period}}{{else:}}{{XML("&mdash;")}}{{pass}}</td>
            <td>{{="%.1f" % target.obs_cadence}}</td>
            <td>{{=obs_section_cleanup(target.obs_section)}}</td>
            <td>{{=target.zfilter}}</td>
            {{UTC_OFFSET_TIMEDELTA = datetime.datetime.utcnow() - datetime.datetime.now()}}
            <td>{{if angsep(datetime_to_jd(datetime.datetime.utcnow()),target.zra,target.zdec) < 30:}}
            <div class="label label-danger" style="background:black;display:inherit"><i class='fa fa-minus-circle'></i>&nbsp;Near Solar<br/>Conjunction</div>
            {{elif not target.last_data_point:}}
            <span class="label label-danger">No Observation</span>
            {{elif target.last_data_point == datetime.datetime(2008,8,8,8,8,8):}}
            <span class="label label-danger">Refreshing...</span>
            {{elif datetime.datetime.utcnow() > (target.last_data_point + datetime.timedelta(days=target.obs_cadence)):}}
            <span class="label label-danger utcInTitle" data-toggle="tooltip" data-placement="bottom" title="{{=target.last_data_point}} UTC"><i class='fa fa-times-circle'></i>&nbsp;{{=prettydate(target.last_data_point-UTC_OFFSET_TIMEDELTA,T)}}</span>
            {{elif datetime.datetime.utcnow() > (target.last_data_point + datetime.timedelta(days=target.obs_cadence*0.7)):}}
            <span class="label label-warning utcInTitle" data-toggle="tooltip" data-placement="bottom" title="{{=target.last_data_point}} UTC"><i class='fa fa-question-circle'></i>&nbsp;{{=prettydate(target.last_data_point-UTC_OFFSET_TIMEDELTA,T)}}</span>
            {{else:}}
            <span class="label label-success utcInTitle" data-toggle="tooltip" data-placement="bottom" title="{{=target.last_data_point}} UTC"><i class='fa fa-check-circle'></i>&nbsp;{{=prettydate(target.last_data_point-UTC_OFFSET_TIMEDELTA,T)}}</span>
            {{pass}}
            <br/>
            {{if auth.user_id and not (auth.user.latitude == 0 and auth.user.longitude == 0):}}
            {{for event in observabilityTimes[target.star_name]:}}
            {{if event[0] == TARGET_RISES:}}
            <div style="width:130px;padding-top:3px">Rises <utc>{{=event[1]}} UTC</utc></div>
            {{pass}}
            {{if event[0] == TARGET_SETS:}}
            <div style="width:130px;padding-top:3px">Sets <utc>{{=event[1]}} UTC</utc></div>
            {{pass}}
            {{if event[0] == TARGET_IS_ALWAYS_UP:}}
            <div style="width:130px;padding-top:3px">Visible all night</div>
            {{pass}}
            {{pass}}
            {{pass}}
            </td>  <!-- " -->
            <td>{{if target.priority:}}
                <i class="fa fa-exclamation-triangle fa-2x" style="color:orange; text-align:center;"></i>
                {{pass}}</td>
            <td style="max-width:300px;word-wrap:break-word;" class="comment">
                <div class="more" style="max-width:300px;word-wrap:break-word">{{=http_format(target.other_info)}}</div> <!-- " -->
            </td> 
        </tr>
        {{pass}}
    </tbody>
</table>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

function firstChars(content, length) {
    charsLeft = content.split("");
    result = "";
    numChars = 0;
    isTag = false;
    tagName = "";
    
    while(numChars < length && charsLeft.length > 0) {
        result += charsLeft[0];
        if(charsLeft[0] == "<") {
            isTag = true;
            tagName = charsLeft[1];
        }
        else if(charsLeft[0] == ">") {
            isTag = false;
        }
        charsLeft = charsLeft.slice(1);
        if(!isTag) {
            numChars++;
        }
    }
    
    if(tagName == "a" || tagName == "p") {
        result += "</" + tagName + ">";
    }
    
    return result;
}

$(document).ready(function() {
    // reference: https://codepen.io/maxds/pen/jgeoA/
    // Configure/customize these variables.
    var showChar = 140;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "<i class='fa fa-plus'></i>&nbsp;more";
    var lesstext = "<i class='fa fa-minus'></i>&nbsp;less";
    

    $('.more').each(function() {
        var content = $(this).html();
        var startingText = firstChars(content, showChar);
 
        if(content.length > startingText.length) {
 
            
            var hiddenText = content;
 
            var html = '<span class="moreellipses">' + startingText + ellipsestext+ '</p>&nbsp;&nbsp;</span><span class="morecontent" style="display:none">' + hiddenText + '</span>&nbsp;<a href="" class="morelink btn btn-default" style="padding:0px 5px">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().find(".moreellipses").toggle();
        $(this).parent().find(".morecontent").toggle();
        return false;
    });
    
    
    {{if not auth.user_id:}}
    $("utc").each(function() { 
        var date = moment( $(this).text(), "YYYY/M/D HH:mm:ss UTC" ); 
        $(this).text(date.format("HH:mm")); 
    });
    {{elif auth.user.get('timezone') == "(use local time zone)":}}
    $("utc").each(function() { 
        var date = moment.tz( $(this).text(), "YYYY/M/D HH:mm:ss UTC", 'Etc/UTC' ).tz(moment.tz.guess());
        $(this).text(date.format("{{if auth.user.format_12hr:}}h:mm a{{else:}}HH:mm{{pass}}")); 
    });
    {{else:}}
    $("utc").each(function() { 
        var date = moment.tz( $(this).text(), "YYYY/M/D HH:mm:ss UTC", 'Etc/UTC' ).tz('{{=auth.user.timezone}}'); 
        $(this).text(date.format("{{if auth.user.format_12hr:}}h:mm a{{else:}}HH:mm{{pass}}")); 
    });
    {{pass}}
    
    {{if not auth.user_id:}}
    $(".utcInTitle").each(function() { 
        var date = moment( $(this).attr("data-original-title") , "YYYY/M/D HH:mm:ss UTC" ); 
        $(this).attr("data-original-title",date.format("D MMMM YYYY HH:mm")); 
    });
    {{elif auth.user.get('timezone') == "(use local time zone)":}}
    $(".utcInTitle").each(function() { 
        var date = moment.tz( $(this).attr("data-original-title"), "YYYY/M/D HH:mm:ss UTC", 'Etc/UTC' ).tz(moment.tz.guess());
        $(this).attr("data-original-title",date.format("{{if auth.user.format_12hr:}}LLL{{else:}}D MMMM YYYY HH:mm{{pass}}")); 
    });
    {{else:}}
    $(".utcInTitle").each(function() { 
        var date = moment.tz( $(this).attr("data-original-title"), "YYYY/M/D HH:mm:ss UTC", 'Etc/UTC' ).tz('{{=auth.user.timezone}}'); 
        $(this).attr("data-original-title",date.format("{{if auth.user.format_12hr:}}LLL{{else:}}D MMMM YYYY HH:mm{{pass}}")); 
    });
    {{pass}}
    
    
    $("utc").show();
    setUpHeader();
});

function refresh_types()
{
    if($("#all").prop('checked'))
    {
        $("#form input[type='checkbox']").each(function() { 
            $(this).prop("checked", true); 
        });
    }
    else
    {
        $("#form input[type='checkbox']").each(function() { 
            $(this).prop("checked", false); 
        });
        //$("#ac").prop("checked", true);
    }
    
}

function printDialog(cmts) {
    if (cmts) {
        $(".comment").removeClass("comment-hide-printout");
    } else {
        $(".comment").addClass("comment-hide-printout");
    }
    window.print();
}
</script>
