{{extend 'layout.html'}}
{{from datetime import datetime,timedelta}}
<h1>Quality control</h1>

<table class="table">

<thead>
    
<tr>
    <th>Star name</th>
    <th>Filter</th>
    <th>Observation time on server</th>
    <th>Observation time on VSX</th>
    <th>Result</th>
</tr>

</thead>
<tbody>
    
{{for i in range(len(targets)):}}

<tr>
    <th>{{=targets[i].star_name}}</th>
    <th>{{=targets[i].zfilter}}</th>
    <th>{{=targets[i].last_data_point}}</th>
    <th>{{=vsxdata[i][0]['obsJDate']}}</th>
    <th>
        {{if targets[i].last_data_point == vsxdata[i][0]['obsJDate'] == None:}}
        <span class="label label-success">PASS</span>
        {{elif targets[i].last_data_point == None:}}
        <span class="label label-danger">FAIL</span>
        {{elif vsxdata[i][0]['obsJDate'] == None:}}
        <span class="label label-danger">FAIL</span>
        {{elif abs(targets[i].last_data_point - vsxdata[i][0]['obsJDate']) < timedelta(hours=2):}}
        <span class="label label-success">PASS</span>
        {{elif abs(datetime.utcnow() - vsxdata[i][0]['obsJDate']) < timedelta(hours=2):}}
        <span class="label label-success">PASS (awaiting sync)</span>
        {{else:}}
        <span class="label label-danger">FAIL</span>
        {{pass}}
    </th>
</tr>

{{pass}}
</tbody>

</table>