{{extend 'layout.html'}}

{{if "duplicates" in globals():}}
<div class="alert alert-warning" role="alert">A duplicate of this record exists, click to edit: 
{{for d in duplicates:}}
<a class="btn" href="/aavso/default/tool/{{=d.id}}">{{=d.star_name}}</a>
{{pass}}
</div>
{{pass}}

{{=form}}
