{{extend 'layout.html'}}

<ul>
{{for user in users:}}
<li>{{=user.first_name}} {{=user.last_name}} 
{{if auth.has_membership('admin',user.id):}}
<a class="btn btn-link" href="/aavso/default/removeadmin/{{=user.id}}">Is an admin, click to remove</a>
{{else:}}
<a class="btn btn-link" href="/aavso/default/makeadmin/{{=user.id}}">Make admin</a>
{{pass}}
{{if auth.has_membership('owner',user.id):}}
<a class="btn btn-link" href="/aavso/default/removeowner/{{=user.id}}">Is an owner, click to remove</a>
{{else:}}
<a class="btn btn-link" href="/aavso/default/makeowner/{{=user.id}}">Make owner</a>
{{pass}}
</li>
{{pass}}
</ul>