{{extend 'layout.html'}}

<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>
{{if request.args(0) == 'login':}}
<br/>
<div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> The login system for the AAVSO Target Tool is separate from AAVSO, VSX and Filtergraph. If you are seeing this page for the first time, please <a href="/aavso/default/user/register">sign up</a>.</div>
<br/>
{{pass}}
<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
            pass
            form.add_button(T('Forgot your password?'),URL('forgot'),_class='btn btn-default')
        pass
        =form
        }}
        </div>
    </div>
</div>



{{block page_js}}
<script>
if (!Math.sign) {
  Math.sign = function(x) {
    // If x is NaN, the result is NaN.
    // If x is -0, the result is -0.
    // If x is +0, the result is +0.
    // If x is negative and not -0, the result is -1.
    // If x is positive and not +0, the result is +1.
    return ((x > 0) - (x < 0)) || +x;
    // A more aesthetic pseudo-representation:
    //
    // ( (x > 0) ? 1 : 0 )  // if x is positive, then positive one
    //          +           // else (because you can't be both - and +)
    // ( (x < 0) ? -1 : 0 ) // if x is negative, then negative one
    //         ||           // if x is 0, -0, or NaN, or not a number,
    //         +x           // then the result will be x, (or) if x is
    //                      // not a number, then x converts to number
  };
}

    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
{{if request.vars.location:}}
$("#auth_user_first_name__row").hide();
$("#auth_user_last_name__row").hide();
$("#auth_user_email__row").hide();
{{pass}}
$("#auth_user_latitude").blur(function() {
   var words = $("#auth_user_latitude").val().split(" ");
   if(words.length == 2) {
       var degrees = Math.abs(parseFloat(words[0]));
       var sign = Math.sign(parseFloat(words[0]));
       var minutes = parseFloat(words[1]);
       $("#auth_user_latitude").val((degrees + (minutes/60))*sign);
   }
   if(words.length == 3) {
       var degrees = Math.abs(parseFloat(words[0]));
       var sign = Math.sign(parseFloat(words[0]));
       var minutes = parseFloat(words[1]);
       var seconds = parseFloat(words[2]);
       $("#auth_user_latitude").val((degrees + (minutes/60)+ (seconds/3600))*sign);
   }
});
$("#auth_user_longitude").blur(function() {
   var words = $("#auth_user_longitude").val().split(" ");
   if(words.length == 2) {
       var degrees = Math.abs(parseFloat(words[0]));
       var sign = Math.sign(parseFloat(words[0]));
       var minutes = parseFloat(words[1]);
       $("#auth_user_longitude").val((degrees + (minutes/60))*sign);
   }
   if(words.length == 3) {
       var degrees = Math.abs(parseFloat(words[0]));
       var sign = Math.sign(parseFloat(words[0]));
       var minutes = parseFloat(words[1]);
       var seconds = parseFloat(words[2]);
       $("#auth_user_longitude").val((degrees + (minutes/60)+ (seconds/3600))*sign);
   }
});
</script>
{{end page_js}}
