<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, minimum-scale=1">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','_1.0.0/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','_1.0.0/css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','font-awesome/css/font-awesome.min.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body style="margin-bottom:150px;font-size:16px;padding-top:0px">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    
    
    
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-default" role="navigation" style="border:0px">
      <div class="container-fluid"  style="background:url(/aavso/static/images/header9.jpg) no-repeat;background-color:#131C1B;background-position-y:-100px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
          <ul class="nav navbar-nav navbar-right">
            {{block right_header}}{{end}}
            <li><a href="/aavso/api"><i class="fa fa-code"></i>&nbsp;API</a></li>
            <li><a href="https://www.aavso.org/aavso-target-tool-help" target="_blank"><i class="fa fa-question-circle"></i>&nbsp;Help</a></li>
            <li><a href="/aavso/default/feedback"><i class="fa fa-comments"></i>&nbsp;Feedback</a></li>
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>

<div style="height:200px" class="spacing"></div>

    {{block footer}} <!-- this is default footer -->      
    <footer class="footer" style="height:auto">
      <div class="container-fluid" width="100%" style="margin:10px">
          <div style="text-align:center;padding-top:0px;">
            <br/>
            {{if "refresh_task" in globals():}}
  Observations refresh every hour. Last update {{=prettydate(refresh_task.last_run_time,T)}}.
  <br/><br/>
  {{pass}}
            {{=T('Developed by')}}
            <a href="https://my.vanderbilt.edu/danburger/" target="_blank">Dan Burger</a>, 
            <a href="https://www.linkedin.com/in/chandlerbarnes" target="_blank">Chandler Barnes</a>
            {{=T(' and ')}}
            <a href="https://www.linkedin.com/in/kennli" target="_blank">Kenneth Li</a>
            {{=T(' in partnership with ')}}
            <a href="https://www.vanderbilt.edu/" target="_blank">Vanderbilt University</a>
            <br/>
            Hosting provided by <a href="https://filtergraph.com/">Filtergraph</a>. Create stunning, interactive data visualizations in minutes
            <br/><br/>
            <a href="http://www.vanderbilt.edu/" target="_blank"><img src="/aavso/static/images/vandy-logo.png" alt="vandy logo"></a>
            <a href="https://filtergraph.com/" target="_blank"><img src="/aavso/static/images/filtergraph-white-small.png" style="width:200px;height:auto;padding-left:20px" alt="filtergraph logo"></a>
            <a href="http://www.aavso.org/" target="_blank"><img src="/aavso/static/images/aavso-white-small.png" style="height:75px;padding-left:20px" alt="aavso logo"></a>
            <a href="http://rescorp.org/" target="_blank"><img src="/aavso/static/images/rcsa-white-small.png" style="height:75px;padding-left:20px" alt="rcsa logo"></a>
            <br/><br/>            
            </div>
          </div>
      </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
    <!-- Google Analytics ============================= -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-85178892-1', 'auto');
      ga('send', 'pageview');
    
    </script>
  </body>
</html>
